.cards-container {
	margin-top: 3rem;
}

.card {
	text-align: left;
	background-color: $white;
	box-shadow: $box-shadow;
	margin-bottom: 1rem;
	padding: 1rem;
	border-radius: 4px;
	border-top: 4px solid;
}

.card:nth-of-type(1) {
	border-top-color: $cyan;
}

.card:nth-of-type(2) {
	border-top-color: $red;
}

.card:nth-of-type(3) {
	border-top-color: $orange;
}

.card:nth-of-type(4) {
	border-top-color: $blue;
}

.card-title {
	color: $dark-blue;
	margin-bottom: 0.75rem;
}

.card-text {
	font-size: 0.875rem;
	margin-bottom: 2.5rem;
}

.card-img {
	text-align: right;
}

@media (min-width: $md-screen) {
	.cards-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.5rem;
	}

	.card {
		margin-bottom: 0;
	}
}

@media (min-width: $lg-screen) {
	.cards-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.card:nth-of-type(1) {
		grid-row: 1 / -1;
		align-self: center;
	}

	.card:nth-of-type(4) {
		grid-column: 3 / 4;
		grid-row: 1 / -1;
		align-self: center;
	}

	.card:nth-of-type(3) {
		grid-column: 2 / 3;
	}
}
