main {
	text-align: center;
	padding: 1.5rem;
}

.main-title {
	font-weight: 200;
	color: $dark-blue;
	font-size: 1.5rem;
}

.main-subtitle {
	color: $dark-blue;
}

.main-text {
	margin-top: 1rem;
}

@media (min-width: $lg-screen) {
	main {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.main-title,
	.main-subtitle {
		font-size: 1.75rem;
	}

	.main-text {
		max-width: 40rem;
		margin-left: auto;
		margin-right: auto;
	}
}
